.panel {
  border: 1px solid #fff;
  color: inherit;
}

.panel a {
  color: inherit;
}

.panel-heading {
  background-color: #f2f2f2;
  border-bottom: 1px solid gray;
}

.accordion-panel-body {
  padding: 1rem 0;
}

.panel-collapse {
  border: 1px solid #f2f2f2;
}

.panel-title-after {
  position: relative;
  height: 0;
  width: 0;
  display: inline;
  float: right;
}

.panel-title-after:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid gray;
  background-color: none;
  text-align: right;

  /*Adjust for position however you want*/
  right: 0.75em;
  top: 0.5em;
  position: absolute;
  pointer-events: none;
}

.panel-title-after.open:after {
  transform: rotate(180deg);
}
