.panel {
  border: 1px solid #fff;
  color: inherit;
}

.panel a {
  color: inherit;
}

.panel-heading {
  background-color: #f2f2f2;
  border-bottom: 1px solid gray;
}

.accordion-panel-body {
  padding: 1rem;
}

.panel-collapse {
  border: 1px solid #f2f2f2;
}

.panel-title {
  padding: 0 1rem 0 0;
}

.panel-title-after {
  position: relative;
  height: 0;
  width: 0;
  display: inline;
  float: right;
}

.panel-title-after:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid gray;
  background-color: none;
  text-align: right;

  /*Adjust for position however you want*/
  right: 0.75em;
  top: 0.5em;
  position: absolute;
  pointer-events: none;
  margin-right: -2rem;
}

.panel-title-after.open:after {
  transform: rotate(180deg);
}

// For nested accordions
.accordion-root .accordion-root {
  margin: 0 0.5rem;

  .accordion-item-set {
    border-bottom: 1px solid #f2f2f2;
  }

  .panel-heading {
    background-color: transparent;
  }

  .panel-collapse {
    border: none;
  }
}
