.Collapsible {
  background-color: $coa-medBlue;
  color: white;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.Collapsible__contentInner {
  background-color: white;
  color: $text-color;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: $panel-body-padding;
  padding-right: $panel-body-padding;
  @include clearfix;
}

.Collapsible__trigger {
  padding-top: 5px;
  cursor: pointer;
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

.Collapsible__trigger.is-closed::before {
  content: ' +';
  background-color: #fff;
  color: #4077a5;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  border-radius: 7px;
}

.Collapsible__trigger.is-open::before {
  content: '-';
  background-color: #fff;
  color: #4077a5;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 5px;
  border-radius: 7px;
}