.titleDiv {
  margin-bottom: 5px;
  margin-left: 10px;
}

.titleDiv i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.steep-slope-tag {
  display: flex;
  justify-content: space-between;
  .steep-slope-btn {
    padding: 4px 10px 1px;
    border-radius: 5px;
    background-color: #95a5a6;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
}
