.titleDiv {
  margin-bottom: 5px;
  margin-left: 10px;
}

.titleDiv i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.steep-slope-tag {
  justify-content: space-between;
  .steep-slope-btn {
    padding: 4px 10px 1px;
    text-transform: uppercase;
  }
}
