.titleDiv {
  margin-bottom: 5px;
  margin-left: 10px;
}

.titleDiv i {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.steep-slope-tag {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
  .steep-slope-btn {
    padding: 2px 5px 0px;
    text-transform: uppercase;
    font-size: 0.9em;
    outline: none;
  }
}

.card-addons-container {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 6px;
  .ss-container {
    display: inline-block;
    div {
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2em;
      align-items: center;

      @media screen and (max-width: 380px) {
        display: block;        
      }
      p {
        margin: 0;
        font-size: 1em;
        &.tag {
          font-weight: 700;
          text-transform: uppercase;
        }
        &.info {
          font-weight: 100;
        }
      }
    }
  }
  .slope-error {
    font-size: .8em;
    background-color: #95a5a678;
    padding: 10px;
    font-weight: 700;
    p {
      margin: 0;
    }
  }
}

.hide-elem {
  display: none !important;
}

.full-width-card {
  padding: 15px;
  background-color: #fbfbfb;

  .climate-justice-container {
    .cj-threats {
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-column-gap: 0.5em;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width:400px) {
        display: block;
      }

      > div {
        margin: auto;
        background-color: #95a5a624;
        margin-bottom: 1em;
        flex-basis: calc(33.333% - 10px);
        div.img {
          margin: 0 auto;
          width: 100%;
          img {
            max-width: 100%;
            max-height: 100%;
            display: block;
          }
        }
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          @media screen and (max-width: 600px) {
            font-size: 0.8em;  
          }
          font-size: 1.2em;
          &.info {
            padding: 1em;
          }
          &.tag {
            padding-top: 1.5em;
          }
        }
      }
    }
    
    .resiliency-guide {
      display: block;
      margin-top: 1em;
    }
  }
}
