.filterCheckbox {
  border-radius: 2px;
  border: #16abe4 solid 2px;;
  margin-bottom: 10px;
}

.filterCheckboxDisabled {
  border-radius: 2px;
  border: #ffffff solid 2px;
  margin-bottom: 10px;
  opacity: 0.25;
}

.unchecked {
  border-radius: 2px;
  margin-bottom: 10px;
  border: #ffffff solid 2px;
  opacity: .75;
}

.imcheckue:focus + .filterCheckbox {
  outline: #4579B3 5px solid;
  outline-offset: 5px;
}

.text-center input[type="checkbox"]:focus + .filterCheckbox {
  outline: #4579B3 5px solid;
  outline-offset: 5px;
}

.filterCheckbox input[type="checkbox"]:focus + .filterCheckbox {
  outline: #4579B3 2px solid;
  outline-offset: 2px;
}

.backgroundChecked {
  background-color: #d3f1ff;
}
.backgroundUnchecked {
  background-color: #eeeeee;
}