.homeTitle {
  font-weight: 200;
  color: #4579B3;
  font-size: 60px;
  margin: 0px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.bigNavWrapper {
  margin-top: 100px;
}

.bigNavButton {
  background: #FFF;
  color: #9E9E9E;
  font-weight: 500;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  margin: 10px;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.bigNavButton:hover {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
  margin-top: -1px;
  cursor: pointer;
}