/*VARIABLES COPIED FROM MAIN STYLES.CSS -- CHANGE THIS TO BE BETTER */
$desktop-min: 1025px;
$desktop-max: 1200px;
$mobile-min: 481px;
$mobile-max: 767px;
$tablet-min: $mobile-max + 1;
$tablet-max: $desktop-min - 1;
$xs: $mobile-min - 1;


#majorDevDash p {
  width: 80%;
  margin-left: 10%;
}

#majorDevDash h1, #majorDevDash h2 {
  text-align: center;
}

.anchorNav a {
  padding: 0.25em 2em;
}

.anchorNav a.linkItem-selected, .anchorNav a:hover, .anchorNav a:focus {
  text-decoration: underline;
}

#majorDevDash h2, #about {
  padding-top: 120px;
  margin-top: -120px;
}

#majorDevDash text.annotation-note-label {
  font-family: sans-serif;
}

#majorDevDash .annotation-note-bg {
  fill: white;
  fill-opacity: 0.9;
  stroke: gray;
}

#majorDevDash .linkItem-selected {
  font-weight: bold;
}

#signup-form {
  text-align: center;
  margin: 1em 0;
}

#signup-form > * {
  margin: 0.5em 0;
}

@media(max-width: $xs){
  .anchorNav a {
    font-size: 0.75em;
    padding: 0.15em 0.45em;
  }
}
