#majorDevDash section {
  display: block;
  width: inherit;
  min-height: 20vh;
  margin: 0 auto;
  padding: 0;
  margin-top: -140px;
  padding-top: 140px;
  margin-bottom: 140px;
}

#majorDevDash p, #majorDevDash p ~ ul {
  width: 70%;
  margin-left: 15%;
}

#majorDevDash h1, #majorDevDash h2 {
  text-align: center;
}

.sectionNav {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid gray;
  padding: 0.25em 1em;
}

ul.sectionNav  {
  list-style-type: none;
}

ul.sectionNav li {
  display: inline-block;;
}

.sectionNav a {
  padding: 0.35em 1.15em 0;
  letter-spacing: 0.035em;
}

.sectionNav a.linkItem-selected, .sectionNav a:hover, .sectionNav a:focus {
  text-decoration: underline;
}

#majorDevDash text.annotation-note-label {
  font-family: sans-serif;
}

#majorDevDash .annotation-note-bg {
  fill: white;
  fill-opacity: 0.9;
  stroke: gray;
}

#majorDevDash .linkItem-selected {
  font-weight: bold;
}

#signup-form {
  text-align: center;
  margin: 1em 0;
}

#signup-form > * {
  margin: 0.5em 0;
}

@media(max-width: 767px){
  #majorDevDash p, #majorDevDash p ~ ul {
    width: 90%;
    margin-left: 5%;
  }
}
