#majorDevDash main {
  margin-left: 15vw;
  height: 100%;
}

#majorDevDash section {
  display: block;
  width: inherit;
  min-height: 50vh;
  margin: 0 auto;
  padding: 0;
  margin-top: -140px;
  padding-top: 140px;
  margin-bottom: 140px;
}

.sectionNav {
  left: 0;
  width: 15vw;
  height: 100%;
  z-index: 99;
  position: fixed;
  background-color: #fff;
  border-right: 1px solid #e7eaff;
  top: 97px;
  padding: 0;
}

ul.sectionNav  {
  list-style-type: none;
}

ul.sectionNav li {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
}

.sectionNav a {
  padding: 0.75rem 0.25rem 0.75rem 1rem;
  letter-spacing: 0.035rem;
  width: 100%;
}

.sectionNav a:hover, .sectionNav a:focus {
  text-decoration: underline;
}

#majorDevDash .linkItem-selected {
  background-color: #f2f2f2;
}

#majorDevDash text.annotation-note-label {
  font-family: sans-serif;
}

#majorDevDash .annotation-note-bg {
  fill: white;
  fill-opacity: 0.95;
  stroke: gray;
}

.cssload-loader {
  margin: 0 auto;
}

@media(max-width: 767px){
  #majorDevDash p, #majorDevDash p ~ ul {
    width: 90%;
    margin-left: 5%;
  }
}
