.DtSet {
  padding: 0 1em;
}

.stripey .DtSet {
  border-bottom: 1px solid #f2f2f2;
}

#PermitTasks table tr.warning {
  color: #222;
  background-color: #fef5e7;
}

#PermitTasks table tr.info {
  color: #222;
  background-color: #e9f4fb;
}

#PermitTasks table tr.warning td,
#PermitTasks table tr.info td,
#PermitTasks table tr.warning th,
#PermitTasks table tr.info th, {
  background-color: inherit;
}

@media(min-width: 993px) {
  .stripey .DtSet:nth-child(2n) {
    background-color: #f2f2f2;
  }
  .stripey .DtSet {
    border-bottom: none;
  }
}

.DtSet dt {
  font-weight: 400;
}

dl.summary-group {
  font-size: 1.15em;
}
