/* width */

#permit-timeline-container {
  margin: 1rem 0;
  padding: 0 0 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  height: 125px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}


#permit-timeline-container::-webkit-scrollbar {
  height: 4px;
}

/* Track */
#permit-timeline-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #e6e6e6;
}

/* Handle */
#permit-timeline-container::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

@media(min-width: 767px){
  #permit-timeline-container {
    height: 100px;
  }
}
