#permit-description {
  font-size: 1.25rem;
}

.permit-form-group {
  width: 100%;
  padding: 1em;
  background-color: #f2f2f2;
  border-radius: 2px;
  margin: 2px 1rem 2px 0;
}

.permit-details-card .display-label, .permit-form-group.bool {
  font-weight: 500;
}

.permit-details-card .formatted-val {
  float: right;
  margin-left: 1.5rem;
}


.permit-icon-boolean svg {
  margin-right: 0.5em;
}
