.brushedChart rect.selection {
	fill: darken(#f6fcff, 10%);
	stroke: darken(#f6fcff, 30%)
}

.brushedChart rect.handle {
	fill: darken(#f6fcff, 50%);
}

input[type="date"]::-webkit-clear-button {
    display: none;
}
