.topicCard {
  /*border: 2px solid #ddd;*/
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background: #fbfbfb;
}

.topicCard i {
  padding-bottom: 5px;
  width: 100%;
}
.row.topic-options { 
  margin-top: 21px;
  display: flex;
  justify-content: space-evenly;
}

.topicCard .topic-card {
  text-decoration: none;
}

.topicCard .topic-card:focus {
  outline: none;
  text-decoration: underline;
}

.topicCard {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.topicCard:hover,
.topicCard:focus,
.topicCard:focus-within {
  box-shadow: 0 0 .15rem #004987;
  z-index: 1;
}

.topicCard a:focus,
.topicCard:hover a {
  text-decoration: underline;
}