.topicCard {
  /*border: 2px solid #ddd;*/
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  background: #fbfbfb;
}

.topicCard i {
  padding-bottom: 5px;
  width: 100%;
}
.row.topic-options { 
  margin-top: 21px;
  display: flex;
  justify-content: space-evenly;
}