.recharts-responsive-container {
  clear: both;
};

.treeMapBreadcrumb {
  color: $coa-medBlue;
  font-style: italic;
}

.treeMapBreadcrumbLink {
  cursor: pointer;
  text-decoration: underline;
};

.treeMapBreadcrumbLink:hover {
  text-decoration: none;
};