.searchResultGroup {
  margin-bottom: 15px;
}

.searchResultGroup h3 {
  margin-top: 0px;
}

.searchResultGroup h3 > i {
  margin-right: 8px;
}

.searchResultGroup h3 span {
  margin-left: 8px;
  background-color: #999;
}