@import "bootstrap/bootstrap";
@import "components/components";
@import "components/react-widgets-copied-files/css/react-widgets";


/*VARIABLES*/
$desktop-min: 1025px;
$desktop-max: 1200px;
$mobile-min: 481px;
$mobile-max: 767px;
$tablet-min: $mobile-max + 1;
$tablet-max: $desktop-min - 1;
$xs: $mobile-min - 1;

/*GLOBAL STYLES*/
body, html{
	font-size: 16px;
	font-weight: lighter;
}

body{
	// padding-top: 97px;
}

h1, h2, h3{
	margin-bottom: .5em;
}

h1, h2, h3{
	font-weight: lighter;
}

h4{
	color: #666;
}

#content.container{
	z-index: 0;
	position: relative;
}

/*MIXINS*/

/*************************************************************************************/
/************************** COMMON STYLES AND CLASSES  *******************************/
/*************************************************************************************/
.full-width{
	display: block;
	width: 100%;
	clear: both;
}

.note{
	font-size: .75rem;
	font-style: italic;
	color: #666;
}

.no-padding{
	margin-left: 0;
	margin-right: 0;
	div[class^="col-"]{
		padding-left: 0;
		padding-right: 0;
	}
}

.small-padding{
	margin-left: -.5rem;
	margin-right: -.5rem;
	div[class^="col-"]{
		padding-left: .5rem;
		padding-right: .5rem;
	}
}

.visualization{
	font-size: .85rem;
}

.visualization-title {
  font-size: 1.25rem;
  color: #666;
}

.flex-align-left{
	justify-self: flex-start;
	margin-left: 0;
	margin-right: auto;
}

.flex-align-right{
	justify-self: flex-end;
	margin-left: auto;
	margin-right: 0;
}

.btn-group{
	.btn{
		border: 1px solid darken($coa-medBlue, 15%);
	}
}

.label-text{
	font-size: 1rem;
	color: #a0a0a0;
}

a.inText{
	color: #4077a5;
}

/*************************************************************************************/
/***************************      COMMON ELEMENTS      *******************************/
/*************************************************************************************/

/*TEMPLATE HEADER*/
.template-header{
	.btn-group{
		/*float: right;*/
		/*margin-top: 1rem;*/
	}
	.data-link{
		@extend .flex-align-left;
	}
	h1{
		display: flex;
		align-items: center;
		font-size: 2rem;
	}
	.title__icon{
		margin-right: .5rem;
        max-width: 50px;
	}
	.title__icon svg{
		height: 40px;
		width: auto;
	}
	.title__text{
		display: inline-block;
	}
	.title__type{
		display: block;
		clear: both;
		font-size: 1rem;
		color: #a0a0a0;
	}
}

.template-header__inner{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	.data-link{
		margin-left: 1rem;
	}
    h3{
        display: block;
        clear: both;
        width: 100%;
    }
}

.template-header__title{
	flex: 1 0 70%;
}

.template-header__actions{
	flex: 1 0 30%;
	margin: .5rem 0;
}

.template-header__subnav{
	flex: 1 0 100%;
	padding: 1rem 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	margin-bottom: 1rem;
	display: flex;
	flex-flow: row wrap;
	>div{
		margin-right: .5rem;
		padding-right: .5rem;
		border-right: 1px solid #ddd;
	}
	>div:last-child{
		border-right: 0;
	}
}

/*TABLES*/
.rt-td{
	&, span{
		font-weight: normal;
	}
}

.rt-resizable-header-content{
	>div{
		white-space: normal;
	}
}

/*TOGGLES*/
.toggle{
	margin: .5rem 0;
	label{
		display: flex;
		align-items: center;
		span{
			margin-right: 1rem;
		}
	}
}

.toggle--table{
	display: inline-block;
}

/*COLLAPSIBLE COMPONENTS*/
.Collapsible {
  background-color: $coa-medBlue;
  color: white;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.Collapsible__contentInner {
  background-color: white;
  color: $text-color;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: $panel-body-padding;
  padding-right: $panel-body-padding;
  @include clearfix;
}

.Collapsible__trigger {
  	cursor: pointer;
	color: #fff;
	background-color: #4077a5;
	min-width: 10px;
	display: flex;
	align-items: center;
	/*padding: 0 .25rem;*/
}

.Collapsible__trigger{
	.icon{
		margin: .25rem 1rem .25rem .25rem;
		background-color: #fff;
		color: #4077a5;
		display: inline-block;
		min-width: 25px;
		text-align: center;
	}
	&.is-closed{
		.icon.minus{
			display: none;
		}
	}
	&.is-open{
		.icon.plus{
			display: none;
		}
	}
	.trigger-text{
		white-space: normal;
	}
}

/*NAVBAR*/
/*JESSE MICHEL 4.6.2018 ALL NAVBAR STYLES*/
.navbar{
  font-size: 2rem;
  background: #f6fcff;
  border-bottom: 1px solid darken(#f6fcff, 10%);
  a{
  	font-size: 1rem;
  }
}

.navbar__inner{
	display: flex;
	align-items: center;
	.pull-left{
		margin-left: 0;
	}
	.navbar-toggle{
		margin-right: 0;
	}
}

.navbar-collapse{
	justify-self: flex-end;
	margin-left: auto !important;
	width: 100%;
}

.logo{
	padding: .5rem;
	@extend .pull-left;
	display: flex;
	align-items: center;
	img{
		max-width: 80px;
		max-height: 80px;
		margin-right: .5rem;
	}
	h1{
		font-size: 2rem;
		margin-bottom: .25rem;
		margin-top: 0;
	}
	h2{
		font-size: 1rem;
		margin-top: 0;
	}
}

.navbar-brand{
	font-size: 2rem;
}

.lang-switcher {
  font-size: 1rem;
  margin-right: 5px;
}

/*DATA FIELDSET DETAILS*/
.detailsFieldset{
	border: 1px solid white;
	.map-container{
		@extend .col-md-12;
		margin-top: 1rem;
		margin-bottom: 1rem;
		height: 250px;
	}
	.ReactTable{
		margin: 1rem;
	}
}

.map-container{
	>div{
		max-height: 100%;
	}
}

.detailsFieldset__details-listings{
	/*@extend .row;*/
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-around;*/
	clear: both;
	>.form-group{
		@extend .col-xs-12;
		@extend .col-md-6;
		@extend .col-sm-12;
		display: flex;
		align-items: stretch;
	}
}

.form-group{
	.btn span{
		white-space: normal;
	}
}

.form-group__inner{
	flex: 100%;
	max-width: 100%;
}

.form-group__label{
	padding-bottom: .25rem;
	display: flex;
	align-items: flex-end;
	font-weight: normal;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
	label{
		/*margin-left: .25rem;*/
		margin-bottom: 0;
		font-weight: lighter;
		text-transform: uppercase;
	}
	span, label{
		/*color: #555;*/
	}
	a{
		/*color: #4077a5;*/
	}
}

.form-group--has-content{
	.form-group__inner{
		background: #eee;
		padding: 15px;
	}
	.form-group__label{
    	border-bottom: 1px solid #ddd;
	}
}

.detailsFieldset__details-listings.detailsFieldset__details-listings--three-column{
	>.form-group{
		@extend .col-sm-4;
	}
}

.form-group__value{
	font-weight: normal;
}

.form-group--has-icon .form-group__inner{
	.btn{
		width: 100%;
	}
}

.form-group--has-icon .form-group__label{
	label{
		margin-left: .25rem;
	}
}

.form-group__call-to-action{
	display: block;
	clear: both;
	margin-top: .5rem;
}

/*TOPICCARDS*/
.topic-card{
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #fbfbfb;
    /*min-height: 180px;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
	svg{
		max-height: 60px;
		padding: .5rem 0;
	}
}

/*VISUALIZATIONS*/
.visualization-layer .background-graphics {
  opacity: 0.25;
}
.visualization-layer .axis line {
  opacity: 0.25;
}

/*************************************************************************************/
/***************************         TEMPLATES         *******************************/
/*************************************************************************************/

/*HOME TEMPLATE*/
.template__home{

}

.card-container{
	.card-item{
		@extend .col-sm-4;
		@extend .col-xs-12;
	}
}

/*SEARCH RESULTS GROUP*/
.search-results-group{
	.text-primary{
		flex: 50%;
		margin-left: .5rem;
	}
}

.search-results-group__link{
	flex: 100%;
}

.search-results-group-place{
	.search-results-group__link{
		flex: 50%;
	}
}

.search-results-group__row-inner{
	display: flex;
}

/*BUDGET SUMMARY TEMPLATE*/
.template__budget-summary{
	.note{
		margin-top: 2rem;
		clear: both;
		@extend .col-md-12;
	}
}

.visualization-container{
	max-width: 100%;
}


/*ADDRESS DETAIL*/
.address{

}

.city-indicator{
	font-style: italic;
	/*font-size: 1em;*/
	margin-left: 15px;
	span{
		margin-left: .25rem;
		vertical-align: bottom;
	}
	>div{

	}
}

.in-city {
  color:#18BC9C;
}

.out-of-city {
  color: #F39C12;
}


.inCityMessage i {
  margin-right: 5px;
}

/*CAPITAL PROJECTS*/
.checkboxGroup{
	display: flex;
	flex-flow: row wrap;
	/*margin-bottom: .5rem;*/
}

.checkboxGroup__checkbox{
	label{
		margin-bottom: 0;
	}
}

.filterCheckbox {
  border-radius: .25rem;
  background: #eee;
  padding: .25rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.filterCheckbox--disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.filterCheckbox--unchecked {

}

.filterCheckbox--backgroundChecked {
  background-color: #d3f1ff;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  &:indeterminate:before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    display: table;
    width: 12px;
    height: 8px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  &:indeterminate:after {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

_:-ms-fullscreen,
:root input[type="checkbox"],
:root .checkbox input[type="checkbox"],
:root .checkbox-inline input[type="checkbox"] {
  margin-bottom: 0;
}

label {
  font-weight: normal;
}

.unchecked input[type="checkbox"]:focus + label,
.filterCheckboxDisabled input[type="checkbox"]:focus + label,
.filterCheckbox input[type="checkbox"]:focus + label,
.checkbox-inline input[type="checkbox"]:focus + label{
  outline: solid 2px #4579B3;
  outline-offset: 3px;
}

.capital-project__status{
	display: flex;
	flex-flow: row wrap;
	.project-status{
		margin-right: .5rem;
		/*flex: 0 1 25%;*/
	}
	.header{
		flex: 100%;
		margin-bottom: .5rem;
	}
}

.funding-summary{
	@extend .row;
	h2{
		span{

		}
	}
	.label-text{
		display: block;
		clear: both;
		margin-bottom: .25rem;
	}
	@media(max-width: $xs){
		h2{
			/*font-size: 1.25rem;*/
		}
	}
}

/* CRIMES BY X */
.crimes-template{
	.data-view-container{
		margin-top: 1rem;
	}
}

.data-filters{
	@extend .row;
	margin-bottom: 1rem;
}

.data-filters__fieldset{
	@extend .col-md-12;
}

.data-filters__container{
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 1rem;
}

.data-filters__inner{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	@extend .row;
	.form-group{
		margin: 0 !important;
	}
	.form-control-static{
		padding: 0;
	}
	.control-label{
		padding: 0;
		margin-right: .5rem;
	}
}

.tooltip-content {
  background: white;
  border: 0.1px solid gray;
  color: black;
  z-index: 99;
  opacity: 1;
}

.tooltip-content:before {
  background: inherit;
  content: "";
  padding: 0px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99;
  border-right: inherit;
  border-bottom: inherit;
  bottom: -8px;
  left: calc(50% - 15px);
}

.tooltip {
  opacity: 1;
  background-color: white;
  border: 0.1px solid gray;
}

.semiotic-axis path {
  opacity: 0.5;
}


.brushedChart rect.selection {
	fill: darken(#f6fcff, 10%);
	stroke: darken(#f6fcff, 30%)
}

.brushedChart rect.handle {
	fill: darken(#f6fcff, 50%);
}

.brushedChart.hideBrushHandles rect.handle {
	display: none;
}


.hierarchicalDropdown .dropdown-menu > li > a {
	padding: 0px 2em 0px 0.5em;
	display: inline-block;
}
.hierarchicalDropdown .dropdown-submenu{
	position:relative;
}
.hierarchicalDropdown .dropdown-submenu>.dropdown-menu{
	top:0;
	left: 100%;
	margin-top:-6px;
	margin-right:-1px;
	-webkit-border-radius:6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}
.hierarchicalDropdown .dropdown-submenu:hover>.dropdown-menu{
	display: inherit;
	right: inherit;
 }
.hierarchicalDropdown .dropdown-submenu>a:after{
	display: inline-block;
	content:" ";
	position: absolute;
	right: 0;
	height: 0;
	border-color:transparent;
	border-style:solid;
	border-left-color:#999;
	margin-top: 5px;
	padding-left: 10px;
}
.hierarchicalDropdown .dropdown-submenu:hover>a:after{
	border-left-color: darken(#f6fcff, 50%);
}


/*************************************************************************************/
/***************************           FOOTER          *******************************/
/*************************************************************************************/
footer.footer{
	padding: 1rem 0;
}

.old-version-link{
}

.clear-footer{
    display: block;
    padding: 20px;
    height: 100px;
    width: 100%;
}

/*************************************************************************************/
/***************************         MOBILE            *******************************/
/*************************************************************************************/

/*MOBILE STYLES*/
@media(min-width: $mobile-min){
	.template-header__actions{
		text-align: right;
	}
}

@media(max-width: $mobile-max){
	body{
		padding-top: 60px;
	}
	.navbar__inner{
		flex-flow: row wrap;
		padding: 0;
	}
	.navbar-header{
		margin: 0 !important;
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.pull-left{
			margin-left: .25rem;
			margin-right: auto;
		}
		.navbar-toggle{
			margin-right: .25rem;
			margin-left: auto;
		}
	}
	.logo{
		img{
			max-width: 40px;
		}
		h1{
			font-size: 1.25rem;
		}
		h2{
			font-size: .75rem;
		}
	}
	h1, .template-header h1{
		font-size: 1.5rem;
	}
	.template-header__actions{
		margin-bottom: .5rem;
	}
	.template-header{
		.btn-group{
			float: none;
		}
	}
	.template-header__subnav{
		flex-flow: column;
		padding: 0;
		border-bottom: 0;
		>div{
			margin-bottom: .5rem;
			padding-bottom: .5rem;
			padding-top: .5rem;
			border-right: 0;
			border-bottom: 1px solid #eee;
		}
	}
}

@media(max-width: $tablet-max)and(min-width: $tablet-min){
	h1{
		font-size: 2.5rem;
	}
	.navbar__inner{
		/*display: block;*/
	}
}

@media(max-width: $tablet-max) and (min-width: $mobile-min){
	.searchbar-entities{
		ul{
			text-align: center !important;
			padding: 1rem 0;
		}
	}
}

@media(max-width: $tablet-max){
	.data-filters__container{
		.form-group{
			margin-bottom: 1rem !important;
			&:last-child{
				margin-bottom: 0 !important;
			}
		}
	}
    .template-header__title{
        /*flex: 1 0 60%;*/
    }
    .template-header__actions{
        /*flex: 1 0 40%;*/
        margin: .5rem 0;
    }
    .btn-group{
        button{
            font-size: .75rem;
            padding: .5rem;
        }
    }
}

@media(max-width: $mobile-max)and(min-width: $mobile-min){
    .search-results-group__row-inner{
        flex-flow: row wrap;
        flex: 1 0 50%;
    }
    .template-header__actions{
        text-align: left;
        flex: 1 0 50%;
    }
}

@media(max-width: $xs){
	.template-header__actions{
		flex: 1 0 100%;
	}
	.searchbar-entities{
		margin: .5rem 0;
		ul{
			display: flex;
			flex-flow: row wrap;
		}
		li{
			flex: 33%;
			margin: .5rem 0 !important;
		}
	}
	.template-header{
		.btn-group{
			margin-top: 0;
		}
	}
	.crimes-template__data .template-header{
		.btn-group{
			margin-top: 1rem;
		}
	}
	.data-filters{
		margin-top: 1rem;
	}
	.clear-footer{
		display: none;
	}
	footer.footer{
		position: relative;
		padding: .5rem 0;
		font-size: .85rem;
	}
	.old-version-link{
		text-align: center;
		a{
			float: none !important;
		}
	}
}
