.topicSummaryListItem {
  border:1px solid #ecf0f1;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.titleRow {
  background-color: rgba(236, 240, 241, 0.24);
  border-bottom: 1px solid #ecf0f1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.categoryTitle {
  font-weight: bold;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  .titleRow {
    text-align: center;
  }
}

.itemLink a {
  cursor: pointer;
}

.columnTitle {
  color: #545e5f;
}

.columnValue {
  font-weight: normal;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
}