.detailsFormGroup i{
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.detailsFormGroup {
  word-wrap: break-word;
}

.labelClass {
  font-weight: bold;
  display: inline-block;
}

.valueClass {
  margin-left: 15px;
}