@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html,
  body {
    @apply h-full w-full m-0 p-0;
  }

  .skip-nav-link {
    @apply absolute -left-[9999px] -top-[9999px] z-[9999] bg-primary px-6 py-3 text-white font-semibold shadow-lg focus:left-0 focus:top-0;
  }

  a {
    @apply text-coa-blue-dark no-underline hocus:underline underline-offset-4;
  }

  .btn {
    @apply px-4 py-2 border border-transparent rounded shadow focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

  .btn-primary {
    @apply text-white bg-coa-blue-medium hocus:bg-coa-blue-dark
  }

  .btn-sm {
    @apply px-3 py-1 text-sm;
  }

  .btn-group {
    @apply inline-flex;
  }

  .btn-group > * {
    @apply rounded-none;
  }

  .btn-group > *:first-child {
    @apply rounded-l;
  }

  .btn-group > *:last-child {
    @apply rounded-r;
  }

  .btn-group > *:not(:first-child){
    @apply border-l border-l-coa-blue-dark
    ;
  }

  .input {
    @apply border-2 border-slate-200 rounded p-2
  }

  .input-sm {
    @apply text-sm p-1;
  }

  /** Toggle icons for dropdowns and hamburger menu **/

  .dropdown-toggle[aria-expanded="false"] i.bi-dash {
    display: none;
  }

  .dropdown-toggle[aria-expanded="true"] i.bi-plus {
    display: none;
  }

  #hamburger[aria-expanded="false"] i.bi-x-lg {
    display: none;
  }

  #hamburger[aria-expanded="true"] i.bi-list {
    display: none;
  }

  /** TimeSlider Component **/

  .brushedChart rect.selection {
    @apply stroke-cyan-500 fill-cyan-200;
  }

  .brushedChart rect.handle {
    @apply fill-cyan-700;
  }

}