.searchResultFormGroup {
  margin-bottom: 10px;
}

.searchResult i {
  font-size: 26px;
}

.searchResultIcon {
  margin-right: 8px;
}

.searchResultDiv {
  font-size: 22px;
  padding-top: 6px;
  padding-right: 8px;
  color: #4579B3 !important;
}