.searchResultGroup {
  margin-bottom: 15px;
}

.searchResultGroup h2 {
  margin-top: 0px;
  font-size: 26px;
  color: #4077a5;
}

.searchResultGroup h2 > i {
  margin-right: 8px;
}

.searchResultGroup h2 span {
  margin-left: 8px;
}