.dashboardValueInner { /* stylelint-disable */
  border: 2px solid #4579B3;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 10px;
}

.dashboardValueOuter h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 10px;
  display: inline;
}

.dashboardValueOuter h4 {
  display: inline;
  font-weight: 700;
}

.dashboardValueWrapper {
  height: 75px;
  margin-top: 10px;
}

.dashboardValueLabel {
  margin-top: 94px;
}
