.dashboardPerformanceSummary {
  margin-bottom: 20px;
  margin-top: 20px;
}

.dashboardPerformanceSummary i {
  font-size: 100px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: 700;
  color: #9E9E9E;
}

.titleWrapper {
  height: 100px;
  line-height: 100px;
}

.summaryWrapper {
  border: 5px solid #9E9E9E;
  border-radius: 4px;
  margin-bottom: 20px;
}

.summaryDetailsWrapper {
  background: #9E9E9E;
}

.summaryDetailsWrapper div {
  margin-top: 5px;
}

.summaryDetailsWrapper div.warning {
  background: #F39C12;
  border-radius: 4px;
}

.summaryDetailsWrapper h3 {
  color: #FFF;
  font-weight: 700;
  margin-bottom: 0;
}

.summaryDetailsWrapper small {
  color: #FFF;
  margin-bottom: 0;
}