/* Global styles */

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 1.25em;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 1.1em;
  font-family: Roboto, sans-serif;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

body.fontLoaded {
  font-family: Roboto, Arial, sans-serif;
}

article {
  lost-center: 90%;
}

:global(#app) {
  background-color: #FAFAFA;
  min-height: 100%;
  min-width: 100%;
}
